<h1>Pages#help</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p>This is not very helpfull!!!!!!</p>
<pre>
			       ______
			       |    |
			       |    |
			 ______|    |_____
			|                 |
			|______     ______|
			       |    |
			       |    |
			       |____|
			       
			
</pre>
