<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>THIS IS HOME v !!!!!!!!!!!!!!!!!!!!!!!!!</h1>
<pre>
			    /\	
			   /  \	
			  /    \		
			 --------		
			 |      |
			 |  ___ |
			 |  | | |
			 |__|_|_|
</pre>
<p>Find me in app/views/pages/home.html.erb</p>